/* ======================================================
    <!-- Form ( Layout ) -->
/* ====================================================== */
@import '@poemkit/components/_utils/styles/_variable-and-mixin.scss';
@import '_variable-and-mixin.scss';

.rtl .poemkit-controls-layout {

    .poemkit-controls-layout__content {

        .poemkit-controls-layout__content__inner {

            > div {
                &:first-child {
                    margin-right: auto;
                    margin-left: 1.5rem;
                }
            }
        }


    }   

    .poemkit-controls-layout__icon {
        margin-left: auto;
        margin-right: 1rem;
    }
}  



@media all and (max-width: 768px) {
    
    .rtl .poemkit-controls-layout {

        .poemkit-controls-layout__content {

            .poemkit-controls-layout__content__inner {

                > div {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }


        }

    }  
}