/* ======================================================
   <!-- Dropdown Menu -->
/* ====================================================== */
@import '@/components/_utils/styles/_variable-and-mixin.scss';


/* Do not use <a> tag */
.rtl .poemkit-dropdown-menu {

	> ul {
		left: auto;
		right: 0;


		&::before {
			left: auto;
			right: 20px;
		}

	}

}
