/* ====================================================== 
   <!-- Parallax -->                                        
/* ====================================================== */
@import '@poemkit/components/_utils/styles/_variable-and-mixin.scss';

.poemkit-parallax {
	position: relative;
	width: 100%;
	background-attachment: fixed;
	@include background-cover();
	
	height: auto;
	width: 100%;
	
	.poemkit-parallax__img {
	    visibility: hidden;
	}
}
