/* ======================================================
    <!-- Form ( Layout ) -->
/* ====================================================== */
@import '@poemkit/components/_utils/styles/_variable-and-mixin.scss';
@import '_variable-and-mixin.scss';


.poemkit-controls-layout {
    align-items: center;
    display: flex;
    padding: #{$control-padding-height} 0;
	
	
	.poemkit-controls {
		margin: 0 !important;
	}
    
    .poemkit-controls-layout__content {
        flex: 1;

        .poemkit-controls-layout__content__inner {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > div {
                &:first-child {
                    margin-right: 1.5rem;
                    width: 150px;
                }
                &:last-child {
                    flex: 1;
                }
            }
        }

    }

    .poemkit-controls-layout__icon {
        flex-grow: 0;
        margin-left: 1rem;
    }

    
}



@media all and (max-width: 768px) {
    
    .poemkit-controls-layout {

        .poemkit-controls-layout__content {

            .poemkit-controls-layout__content__inner {

                > div {
                    &:first-child {
                        margin-right: 0;
                        width: 100%;
                    }
                }
            }


        }

    }  
}