/* ======================================================
   <!-- Grid -->
/* ====================================================== */
@import '@poemkit/components/_utils/styles/_variable-and-mixin.scss';


.rtl [class*='poemkit-core-grid__col-'] {
	float: right;
}

@mixin poemkitCoreGridGenerateRTL( $classname: '.poemkit-core-grid', $pad: 15px ) {
	// @include poemkitCoreGridGenerate( '.poemkit-core-grid', 15px );
	
    @if ( $classname != '' ) {
	
		.rtl #{$classname} {

			[class*='poemkit-core-grid__col-'] {
				padding-right: auto;
				padding-left: #{$pad};

				.poemkit-core-grid__row &:last-of-type {
					padding-left: 0;
				}
			}


		}

		
	}
	
}


@include poemkitCoreGridGenerateRTL( '.poemkit-core-grid', 15px );



