/* ======================================================
   <!-- Slideshow (Basic) -->
/* ====================================================== */
@import '@uixkit.react/components/_utils/styles/_variable-and-mixin.scss';

/*
 * 1. Initialize the slider style
 * 2. Pagination dots
 * 3. Next/Prev buttons
*/


/*
 ---------------------------
 1. Initialize the slider style
 ---------------------------
 */
.rtl .uix-slideshow {

	.uix-slideshow__inner {

		.uix-slideshow__item {
			left: auto;
			right: 0;

		}

	}


}

/*
 ---------------------------
 2. Pagination dots
 ---------------------------
 */
 .rtl .uix-slideshow__pagination {

	ul {
		left: auto;
		right: 0;

	}



}

/*
 ---------------------------
 3. Next/Prev buttons
 ---------------------------
 */
 .rtl .uix-slideshow__arrows {

	.uix-slideshow__arrows--prev {
		left: auto;
		right: 15px;

	}
	.uix-slideshow__arrows--next {
		right: auto;
		left: 15px;
		text-align: left;

	}

}
