/* ====================================================== 
   <!-- Mobile Menu -->
/* ====================================================== */
@import '@/components/_utils/styles/_variable-and-mixin.scss';

/* Mobile Menu Toggle */
.rtl .poemkit-menu-mobile__toggle {
    right: auto;
    left: 30px;
	
    span {
        left: auto;
        right: 12px;
    }
	
}

body.js-poemkit-menu-opened.rtl {
	.poemkit-menu-mobile__toggle {
	    span {
		    right: 7px;
	    } 
	}
}



/* Mobile Menu Container */
.rtl .poemkit-menu__container.is-mobile {
	left: auto;
	right: 0;
	transform: translateX(300px);

	li.multi-column span.multi-column-title,
	ul.poemkit-menu > li ul > li {
		padding-right: .625rem !important;
	}
	
  
    ul li ul li {
        a, span {
            padding-left: auto;
            padding-right: 0;
        }
    }
	

	
    li:not(.multi-column) ul ul {
        padding-left: auto;
        padding-right: .825em;
    }
	
    > .poemkit-menu__inner {
	    > .poemkit-menu__right-box {
		    padding-left: auto;
		    padding-right: .5rem;
		
		    a {
			    margin-right: auto;
			    margin-left: .3rem;
		    }
	    }  
    }
	
	.poemkit-menu__arrow-mobile {
	    right: auto;
	    left: 10px;
	}	
			
}

.rtl .js-poemkit-menu-opened .poemkit-menu__container.is-mobile {
    transform: translateX(0);
}