/* ======================================================
     <!-- Periodical Scroll -->
/* ====================================================== */
@import '@/components/_utils/styles/_variable-and-mixin.scss';


.poemkit-periodical-scroll {
	position: relative;


	ul {
		display: block;

		li {
			display: block;
			opacity: 0;
			position: absolute;/* required */

			span {
				display: block;
				@include icontxt-gradient();
				letter-spacing: 2px;
			}
		}
	}
}
