/* ======================================================
   <!-- Main Styles -->
/* ====================================================== */
nav {
  display: block;
  margin-bottom: 50px; }
  nav ul {
    list-style: none; }
  nav li {
    float: left;
    padding: 1rem 2rem; }
    nav li a {
      color: #2075EF;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      border: 1px solid rgba(0, 0, 0, 0);
      padding: .5rem 1rem; }
      nav li a.active {
        background: #F7F6F0;
        border: 1px solid #EFE4E5;
        padding: .5rem 1rem; }
  nav::after {
    content: '';
    display: block;
    clear: both; }

div.content {
  display: block;
  padding: 15px;
  background: #F7F6F0;
  border: 1px solid #EFE4E5; }
