/* ======================================================
   <!-- Main Styles -->
/* ====================================================== */


nav {
    display: block;
    margin-bottom: 50px;
   
    ul {
        list-style: none;
    }
    li {
        float: left;
        padding: 1rem 2rem;
        
        a {
            color: #2075EF;
            text-decoration: none;
            font-size: 16px;
            text-transform: uppercase;
            
            border: 1px solid rgba(0,0,0,0);   
            padding: .5rem 1rem;         
            
            &.active {
                background: #F7F6F0;
                border: 1px solid #EFE4E5;   
                padding: .5rem 1rem;
            }
        }
    }
    
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    
    
}

div.content {
    display: block;
    padding: 15px;
    background: #F7F6F0;
    border: 1px solid #EFE4E5;
} 