/* ======================================================
   <!-- Dashboard Modal -->
/* ====================================================== */
@import '@/components/_utils/styles/_variable-and-mixin.scss';



/* Background effect. It covers the entire site */
.poemkit-db-modal {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 99999;
	width: 100%;
	height: 100%;
	position: fixed;
	/* Fix position on the top-left corner*/
	top: 0;
	left: 0;
	overflow: auto;
	padding-top: 150px;


	table {
		border: none;
		width: "100%";
		padding: 0;
		margin: 0;
	}

	tr {
		vertical-align: top;
	}
	td {
		padding: 5px;
	}



}

/* Modal content */
.poemkit-db-modal__content {
	background-color: white;
	width: 70%;
	max-width: 640px;
	max-height: 70%;
	min-height: 100px;
	margin: auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 8px;
	transform: translateY(-100px);


    ul {
        font-size: 1rem;
  
        li {
          margin-bottom: 10px;
          border-bottom: 1px dotted #eee;
          padding-bottom: 10px;
  
          &::after {
            content: '';
            clear: both;
            height: 0;
          }
  
          a {
            text-decoration: underline;
            color: #333;
  
            &:hover {
              color: #f60;
            }
          }
        }
      }

}

.poemkit-db-modal__flex {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: left;
	align-items: center;

    a {
        text-decoration: underline;
    }
}

/* Close button */
.poemkit-db-modal__close {
	color: #aaaaaa;
	float: right;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none !important;
	transform: translateY(-10px);
}

.poemkit-db-modal__close:hover,
.poemkit-db-modal__close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}