/* ======================================================
    <!-- Modal Dialog -->
/* ====================================================== */
@import '@/components/_utils/styles/_variable-and-mixin.scss';

.rtl .poemkit-modal-box {
	left: auto;
	right: 50%;



	/* Video container */

	.poemkit-modal-box__video-waiting {

		left: auto;
		right: 50%;
		margin-left: auto;
		margin-right: -1rem;


	}

	.poemkit-modal-box__close {
		right: auto;
		left: 12px;

	}


	&.is-fullscreen {
		left: auto;
		right: 0;

		.poemkit-modal-box__close {
			right: auto;
			left: 26px;


		}

	}


}

.rtl .poemkit-modal-mask {
	left: auto;
	right: 0;
}
