/* ====================================================== 
   <!-- List -->      
/* ====================================================== */


ul, 
ol {
    list-style: none;
	margin-bottom: 1.421875rem;
	
	> li {
		margin-bottom: 0;
		@include transition-default();
	}
}
