/* ====================================================== 
   <!-- Spacing -->                                
/* ====================================================== */

.poemkit-spacing--s {
	position: relative;
	padding: $spacing-small 0;
}

.poemkit-spacing--m {
	position: relative;
	padding: $spacing-medium 0;
}


.poemkit-spacing--l {
	position: relative;
	padding: $spacing-large 0;
}

.poemkit-spacing--no-top {
	padding-top: 0 !important;
}

.poemkit-spacing--no-bottom {
	padding-bottom: 0 !important;
}

.poemkit-spacing--googlemap {
	padding-top: 0 !important;
}

/* Without spacing */
.poemkit-spacing--no {
	padding: 0 !important;
	margin: 0 !important;/* compatible with <p>, <h1>, <h2>, <h3>... */
}



@media all and (max-width: 768px) {

	.poemkit-spacing--s {
		padding: $spacing-small-mobile 0;
	}
	
	.poemkit-spacing--m {
		padding: $spacing-medium-mobile 0;
	}

	.poemkit-spacing--l {
		padding: $spacing-large-mobile 0;
	}

	.poemkit-spacing--no-top {
		padding-top: 0;
	}
	.poemkit-spacing--no-bottom {
		padding-bottom: 0;
	}
	.poemkit-spacing--googlemap {
		padding-top: 0;
	}
	.poemkit-spacing--no {
		padding: 0;
	}

}